<!DOCTYPE html>
<html>
  <head>
    <title>The page you were looking for doesn't exist (404)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>

        .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 10%;}
    </style>
    
  </head>

  <body>
 
<div class="container">
      <div class="row">
        <div class="span12">
          <div class="jumbotron center">
            <h1>houston we're lost in space</h1>
            <img src="/assets/rocket.svg" style="height: 200px"/>
            <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
            <p><b>Or you could just press this neat little button:</b></p>
            <a href="<%= casein_root_path %>" class="btn btn-primary btn-lg"><i class="icon-home icon-white"></i> Take Me Home</a>
          </div>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
   
